mat-progress-bar
    position: fixed
    z-index: 999999
    top: 0

.site-logo
    img
        height: 30px
        vertical-align: middle

.fixed-sidebar-small
    width: 50px
    height: calc(100vh - 128px)
    background-color: #F5F5F5
    position: fixed
    z-index: 999
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: 64px
    top: 0

#toolbar
    button
        margin-left: 1rem
        border-color: white

button.mat-menu-item
    border: inherit
