<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>

<mat-toolbar id="toolbar" color="primary" class="justify-between">
    <div class="flex items-center">
        <div class="flex items-center">
            <button mat-icon-button>
                <mat-icon>insights</mat-icon>
            </button>
            <span>Kinintel</span>
        </div>

        <button mat-stroked-button (click)="selectProject()">
            <ng-template [ngIf]="!activeProject">Select Project</ng-template>
            <ng-template [ngIf]="activeProject">{{activeProject.name}}</ng-template>
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon [matBadge]="notificationCount" [matBadgeHidden]="notificationCount < 1" matBadgeColor="warn">
            notifications
        </mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu">
        <button mat-menu-item [routerLink]="['/notifications']">View All</button>
        <button mat-menu-item *ngFor="let notification of notifications"
                [routerLink]="['/notifications', notification.id]"
                [ngClass]="{'bg-blue-50 border-l-4 border-blue-200': !notification.read}">{{notification.title}}</button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav id="sidebar" #snav [mode]="mobileQuery.matches ? 'push' : 'side'"
                 [opened]="!mobileQuery.matches" class="border-r border-gray-200">

        <div>
            <div class="menu-items">
                <a [routerLink]="['/home']" routerLinkActive="active" class="menu-item">
                    <mat-icon>not_started</mat-icon>
                    <span>Getting Started</span>
                </a>
            </div>

            <ng-template [ngIf]="loggedIn">
                <div class="menu-items">
                    <p class="menu-title">Components</p>
                    <a [routerLink]="['/dashboards']" routerLinkActive="active" class="menu-item">
                        <mat-icon>dashboard</mat-icon>
                        <span>Dashboards</span>
                    </a>
                    <a [routerLink]="['/datasource']" routerLinkActive="active" class="menu-item">
                        <mat-icon>storage</mat-icon>
                        <span>Datasources</span>
                    </a>
                    <a [routerLink]="['/dataset']" routerLinkActive="active" class="menu-item">
                        <mat-icon>table_chart</mat-icon>
                        <span>Datasets</span>
                    </a>
                    <a [routerLink]="['/snapshots']" routerLinkActive="active" class="menu-item">
                        <mat-icon>history</mat-icon>
                        <span>Snapshots</span>
                    </a>
                    <a href="javascript:void(0)" routerLinkActive="active" class="menu-item"
                       (click)="selectTag()">
                        <mat-icon>style</mat-icon>
                        <span>{{environment.tagLabel}}</span>
                    </a>
                    <mat-chip-list *ngIf="activeTag" class="overflow-hidden">
                        <mat-chip class="active-tag" [removable]="true" (removed)="removeActiveTag()">
                            <span><b>Active:&nbsp;</b>{{activeTag.tag}}</span>
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="menu-items collapsible">
                    <p class="menu-title" (click)="settingsOpen = !settingsOpen">
                        Settings
                        <svg *ngIf="!settingsOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                        <svg *ngIf="settingsOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
                        </svg>
                    </p>
                    <ng-template [ngIf]="settingsOpen">
                        <a [routerLink]="['/notification-groups']" routerLinkActive="active" class="menu-item">
                            <mat-icon>notifications</mat-icon>
                            <span>Notification Groups</span>
                        </a>
                        <a [routerLink]="['/alert-groups']" routerLinkActive="active" class="menu-item">
                            <mat-icon>campaign</mat-icon>
                            <span>Alert Groups</span>
                        </a>
                    </ng-template>
                </div>
            </ng-template>
        </div>
        <div>
            <div class="menu-items">
                <p *ngIf="loggedIn && sessionUser" class="menu-title">
                    {{sessionUser.name}}
                </p>
                <a *ngIf="!loggedIn" [routerLink]="['/login']" routerLinkActive="active" class="menu-item">
                    <mat-icon>login</mat-icon>
                    <span>Login</span>
                </a>
                <a *ngIf="loggedIn" href="javascript:void(0)" routerLinkActive="active" class="menu-item"
                   (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </a>
            </div>

            <div class="menu-divider"></div>
            <button mat-icon-button color="accent" class="menu-back"
                    (click)="snav.toggle()">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>

    </mat-sidenav>

    <mat-sidenav-content id="main" [ngClass]="{'small-sidebar': showFixedSidebar}">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="fixed-sidebar-small border-r border-gray-200" *ngIf="showFixedSidebar">
    <div>
        <div class="menu-items">
            <a [routerLink]="['/home']" routerLinkActive="active" class="menu-item">
                <mat-icon>not_started</mat-icon>
            </a>
        </div>

        <ng-template [ngIf]="loggedIn">
            <div class="menu-items">
                <p class="menu-title">Com..</p>
                <a [routerLink]="['/dashboards']" routerLinkActive="active" class="menu-item">
                    <mat-icon>dashboard</mat-icon>
                </a>
                <a [routerLink]="['/datasource']" routerLinkActive="active" class="menu-item">
                    <mat-icon>storage</mat-icon>
                </a>
                <a [routerLink]="['/dataset']" routerLinkActive="active" class="menu-item">
                    <mat-icon>table_chart</mat-icon>
                </a>
                <a [routerLink]="['/snapshots']" routerLinkActive="active" class="menu-item">
                    <mat-icon>history</mat-icon>
                </a>
                <a href="javascript:void(0)" routerLinkActive="active" class="menu-item"
                   (click)="selectTag()">
                    <mat-icon>style</mat-icon>
                </a>
                <mat-chip-list *ngIf="activeTag" class="overflow-hidden">
                    <mat-chip class="active-tag" [removable]="true" (removed)="removeActiveTag()">
                        <span><b>Active:&nbsp;</b>{{activeTag.tag}}</span>
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="menu-items collapsible">
                <p class="menu-title" (click)="settingsOpen = !settingsOpen">
                    <svg *ngIf="!settingsOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                    </svg>
                    <svg *ngIf="settingsOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
                    </svg>
                </p>
                <ng-template [ngIf]="settingsOpen">
                    <a [routerLink]="['/notification-groups']" routerLinkActive="active" class="menu-item">
                        <mat-icon>notifications</mat-icon>
                    </a>
                    <a [routerLink]="['/alert-groups']" routerLinkActive="active" class="menu-item">
                        <mat-icon>campaign</mat-icon>
                    </a>
                </ng-template>
            </div>
        </ng-template>
    </div>
    <div>
        <div class="menu-items">
            <p *ngIf="loggedIn && sessionUser" class="menu-title">
                &nbsp;
            </p>
            <a *ngIf="!loggedIn" [routerLink]="['/login']" routerLinkActive="active" class="menu-item">
                <mat-icon>login</mat-icon>
            </a>
            <a *ngIf="loggedIn" href="javascript:void(0)" routerLinkActive="active" class="menu-item"
               (click)="logout()">
                <mat-icon>logout</mat-icon>
            </a>
        </div>

        <div class="menu-divider"></div>
        <button mat-icon-button color="accent" class="pl-4" (click)="snav.toggle()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>
