.dark-mode-dashboard
    background-color: #171819 !important
    .grid-stack
        background-color: #171819 !important
    .dashboard-header
        background-color: #171819 !important
        color: whitesmoke !important
        border-color: #3b3a3a !important
    .dashboard-parameters
        background-color: #292a2a !important
        color: whitesmoke !important
        border-color: #3b3a3a !important
        input
            background-color: #171819 !important
            color: whitesmoke !important
            border-color: #3b3a3a !important
    ki-item-component
        background-color: #292a2a !important
        color: whitesmoke !important
        .item-title
            color: white !important
        canvas
            filter: invert(1) hue-rotate(180deg)
        table
            th
                background-color: #3f3d3d !important
                color: whitesmoke !important
                border-color: #3b3a3a !important
            td
                background-color: #292a2a !important
                color: whitesmoke !important
                border-color: #3b3a3a !important
        select
            background-color: #292a2a !important
            color: whitesmoke !important
            border-color: #3b3a3a !important
        button
            color: whitesmoke !important
            &[disabled]
                opacity: .5
        .footer
            background-color: black !important
            color: whitesmoke !important
            border-color: #292a2a !important
        .call-to-action
            background-color: black !important
        .alert-panel
            background-color: rgba(0,0,0,.85) !important
